[submodule "plugins/pensine-plugin-calendar"]
	path = plugins/pensine-plugin-calendar
	url = git@github.com:stephanedenis/pensine-plugin-calendar.git
[submodule "plugins/pensine-plugin-journal"]
	path = plugins/pensine-plugin-journal
	url = git@github.com:stephanedenis/pensine-plugin-journal.git
